.header {
  background-color: #fff !important;
  color: #fff;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.header .navbar-brand img {
  width: 200px !important;
  position: absolute;
  top: 0px;
}

.navbar-expand-lg .navbar-nav {
  padding-top: 18px;
}

.navbar-light .navbar-nav .nav-link a {
  color: #000 !important;
  font-size: 18px;
  font-weight: 500;
  padding-left: 22px;
  padding-right: 22px;
  font-family: 'Helvetica'!important;
  transition: .5 ease-in-out;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link a:hover {
  color: #014A97 !important;
}